.title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
html{
    background-attachment: fixed;
    background-image: url("https://cdn.abcotvs.com/dip/images/24996_kgo-windows-bliss-040714-1280.jpg?w=1600");
}
.all-Weather {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 40%;

}
.foreCast {
    justify-content: center;
    opacity: .7;
    background-color: #8fafba;
    width: 10%;
    font-size: 25px;
    display: flex;
    flex: fit-content;
    flex-direction: column;
    margin: 5px;
    /*background: #BFD45D;*/
    border: 2px solid black;
    padding: 2%;
}
.foreCast p {
    font-style: italic;
}
.weatherMapBox {
    margin-top: 2%;
    padding-bottom: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    height: 50%;
    width: 70%;
    /*background-color: #847477;*/
}



